# Default ignored files
*/shelf/
/workspace.xml
# Editor-based HTTP Client requests
*/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

target
*/.idea/*
*.iws
*.iml
*.ipr
*/dependency-reduced-pom.xml
build/**
*.gradle/*