<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBatchJobManualStart" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ALTERNATIVE_JRE_PATH" value="jbr-17" />
    <module name="sp-batch-mongo-or-csv-to-txt" />
    <option name="PROGRAM_PARAMETERS" value="--spring.shell.interactive.enabled=false --spring.batch.job.enabled=true inputFileName=entries.csv outputFileName=output_new.dat" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="ru.otus.example.springbatch.Main" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="ru.otus.example.springbatch.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>